.myimage{
    filter: brightness(50%);
}
.carousel-caption h5{
	font-size: 5.25rem !important;
}

.carousel-dark .carousel-caption {
    color: #fff;
}

.carousel-caption {

    bottom: 10.25rem;
}

.carousel-indicators {
    display: none;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.card{margin: 10px 0px;}
.ready-join {
    background: #7ba5fc;
    padding: 60px;
    color: #fff;
}
.register-btn {
    width: 35%;
    margin: 30px auto;
}

.faq{padding: 50px;}

.footer-bg{background: black;color: white;padding: 20px;}